NODE_ENV=testing
APP_PORT=8787

DB_CONNECTION=mysql
DB_HOST=db-test
DB_PORT=3306
FORWARD_DB_PORT=33494
DB_DATABASE=email-generation
DB_USERNAME=user
DB_PASSWORD=password

REDIS_HOST=redis-test
REDIS_PORT=6379